body{
    padding: 0;
    margin: 0;
}

#game-screen{
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    text-alin: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    font-size: 60px;
}

#restartButton {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: red;
    border-radius: 10px;
}